@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&display=swap');



/* =================== common css part start ====================== */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
h1,h2,h3,h4,h6,p{
    margin: 0;
    padding: 0;

}
.container{
    width: 991px;
    margin: 0 auto;
}
:root{
    --font-quicksand: "Quicksand", sans-serif;
    --font-Belleza: "Belleza", sans-serif;
    --font-Adamina:"Adamina", serif;
    --font-lora: "Lora", serif;
    --font-abel:"Abel", sans-serif;
    --font-Adamina: "Adamina", serif;
}
/* =================== common css part end ====================== */
/* ================== navbar part start =================== */
.main_row{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
   
    align-items: center;
}
.logo_col img{
    width: 87px;
}
.menu ul{
    display: flex;
    gap: 32px;
}
.menu ul li a{
    font-size: 11.36px;
    font-weight: 400;
    color: #000000;
    letter-spacing: -0.31px;
    font-family: var(--font-quicksand);
}
.btn{
    display: flex;
    gap: 25px;
}.common_btn a{
    padding: 10px 44px;
    background: #010101;
    color: #ffffff;
    border-radius: 28.68px;
}
/* ================== navbar part end =================== */

/* ============== banner part start ================= */
#banner_part_start{
    padding: 58px 0;

}
.banner_row{
    display: flex;
    
}
.banner_text_col h1{
    font-size: 68.13px;
    font-weight: 400;
    font-family: var(--font-Belleza);
    color: #010101;
    letter-spacing: -0.35px;
    width: 415px;
    margin-bottom: 52px;

}
.banner_row h3{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    font-family: var(--font-Adamina);
    width: 320px;
    margin-bottom: 33px;
    margin-top: 77px;
  
}
.banner_row p{
    margin-top: 33px;
    margin-bottom: 62px;
}
.banner_img_col {
    width: 100%;
}
.banner_img_col img{
    width: 100%;
}
.banner_btn{
    display: flex;
    gap: 90px;
    align-items: center;

}
/* ============== banner part end ================= */


/* =============== learn_part_start================= */
.learn_how_row{
    display: flex;
    gap: 135px;
}

/* .learn_how_row .first_col{
    width: 453px;
} */
.learn_how_row .first_col p{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    font-family: var(--font-abel);
}
/* .learn_how_row .second_col{
    width: 627px;
} */
.learn_how_row .second_col p{
  font-size: 36px;
  font-weight: 500;
  font-family: var(--font-lora);
  color: #000000;
}
.ses{
    text-align: center;
    margin-top: 66px;
}
/* =============== learn_part_start================= */

/* ============== put css part start ================ */
#put_part_start{
    background: #EDEDED;
    padding: 340px 0 50px;
    position: relative;
}
.put_row{
    width: 468px;
    position: absolute;
    top: -10%;
    
}
.put_text p{
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: #000000;
    z-index: 22;
}
/* ============== put css part end ================ */

/* ============= shop part start =============== */
#put_part_start{

}
/* ============= shop part end =============== */
/* ============ inspire part start ============= */
#inspire_part_start{
    margin-top: 50px;

}
.inspire_text h2{
    width: 401px;
    font-size: 48px;
    font-weight: 500;
    font-family: var(--font-lora);
    color: #000000;
}
.inspire_text p{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-abel);
    color: #000000;
    margin-top: 9px;
    margin-bottom: 7px;
    width: 286px;
}
.inspire_icon_part{
    display: flex;
    gap: 33px;
    align-items: center;

}

.inspire_icon_part span{
    padding: 12px 6px;
    background: #000000;
    border-radius: 50%;
    color: #ffffff;
}
.inspire_icon_part h6{
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-Adamina);
    color: #000000;
}
.inspire_bottom{
    display: flex;
}
.inspire_bottom .bottom_text h3{
    font-size: 48px;
    font-family: var(--font-lora);
    font-weight: 500;
    color: #000000;
    width: 706px;
    margin: 50px 0 76px;

}
.in_part input::placeholder{
    font-size: 16px;
    font-family: var(--font-abel);
    color: #000000;

}
.subscribe_part{
    margin-top: 120px;
   
    
}
.in_part{
    display: flex;
}
.line{
    width: 100%;
    height: 2px;
    background: black;
    margin-top: 7px;
}
/* ============ inspire part end ============= */

/* =============== footer_part_start ================= */
#footer_par{
    padding: 60px 50px;
    background: #F3F3F3;
}
.footer_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_row .logo_col img{
    width: 123px;
}
.footer_menu ul{
    display: flex;
    gap: 59px;
}
.footer_menu ul li a{
    font-size: 16px;
    font-family: var(--font-quicksand);
    font-weight: 400;
    color: #000000;
    letter-spacing: -0.44px;
}
.social_link ul{
    display: flex;
    gap: 60px;
}
.social_link ul li a{
    font-size: 12px;
    color: #010101;
}
/* =============== footer_part_end ================= */